<nav class="navbar navbar-expand-sm">
  <div class="container-fluid">
    <ul class="navbar-nav m-auto">
      <slot name="nav-items">
        <li class="nav-item">
          <a class="nav-link" href="/"><h3>Home</h3></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/products"><h3>Our Products</h3></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about"><h3>About us</h3></a>
        </li>
      </slot>
    </ul>
  </div>
</nav>
