  
  <slot name="page-nav">
      <nav class="navbar navbar-expand-sm">
      <div class="container-fluid">
        <ul class="navbar-nav m-auto">
          <slot name="nav-items">
            <li class="nav-item">
              <h3>Home</h3>
            </li>
            <li class="nav-item">
              <h3>Our Products</h3>
            </li>
            <li class="nav-item">
              <h3>About us</h3>
            </li>
          </slot>
        </ul>
      </div>
    </nav>
    </slot>
  </slot>
  <slot name="page-header">[PAGE HEADER]</slot>
  <slot name="page-main">[PAGE MAIN]</slot>
  <slot name="page-footer">
    <coffee-party-footer>
      <span slot="footer-header">The footer</span>
      <span slot="footer-text">&copy; Coffee Party 2025</span>
    </coffee-party-footer>
  </slot>
